@use "sass:math" as math;
@forward "../../sass/base/reset";

$bg: #121212;
$grey: grey;
$dark-grey: #4d4d4d;
$light-grey: white;

$scrollbar-width: 6px;

$spotify-green: #1db954;
$spotify-light-green: #1ed760;

$player-menu-size: 38px;

@keyframes shimmer {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}

@mixin shimmer-after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(90deg, transparent, hsla(0, 0%, 100%, 0.1), transparent);
    animation: shimmer 2s infinite;
}

body {
    color: white;
    font-family: "Roboto", sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: $scrollbar-width;
}

::-webkit-scrollbar-track {
    background: $bg;
}

::-webkit-scrollbar-thumb {
    background: #484848;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.spotify-input {
    --color: #b3b3b3;
    --percentage: 50;
    appearance: none;
    -webkit-appearance: none;
    height: 3px;
    outline: none;
    border-radius: 100px;
    background: linear-gradient(
        to right,
        var(--color) 0%,
        var(--color) calc(var(--percentage) * 1%),
        #535353 calc(var(--percentage) * 1%),
        #535353 100%
    );

    &:hover {
        --color: #{$spotify-green};
    }

    &::-webkit-slider-thumb {
        appearance: none;
        -webkit-appearance: none;
    }

    &:hover::-webkit-slider-thumb {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: white;
    }

    &::-moz-range-thumb {
        width: 12px;
        height: 12px;
        border: none;
        border-radius: 50%;
        background: transparent;
    }

    &:hover::-moz-range-thumb {
        background: white;
    }
}

.spotify-item {
    display: flex;
    gap: 10px;
    padding: 3px 0;
    align-items: center;
    width: 100%;

    & .pause {
        display: none;
    }

    &.playing {
        & .pause {
            display: inline;
        }

        & .play {
            display: none;
        }
    }

    &__cover {
        position: relative;
        overflow: hidden;
        height: 40px;
        width: 40px;
        flex-shrink: 0;

        &--placeholder {
            background-color: #282828;
        }

        &.rounded {
            border-radius: 50%;
        }

        img {
            width: 100%;
            height: 100%;
        }

        button {
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
            background-color: #00000080;
            cursor: pointer;
            transition: all 60ms;
        }

        svg {
            fill: white;
            height: 40%;
            width: 40%;
        }
    }

    &:hover &__cover button {
        opacity: 1;
    }

    &__text {
        white-space: nowrap;
        min-width: 0;

        &--placeholder {
            width: 100%;
        }
    }

    &.active &__title {
        color: $spotify-green;
    }

    &__title {
        display: block;
        max-width: fit-content;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 3px;
        font-size: 0.9rem;

        &--placeholder {
            height: 0.7rem;
            width: 80%;
            background-color: #282828;
            border-radius: 100vh;
            margin-bottom: 6px;
        }
    }

    &__metadata {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.775rem;
        color: #b3b3b3;
        min-width: 0;

        &--placeholder {
            height: 0.7rem;
            width: 70%;
            background-color: #282828;
            border-radius: 100vh;
        }
    }

    &__explicit {
        padding: 2px 4px;
        font-size: 9px;
        color: $bg;
        background-color: #ffffff99;
        border-radius: 2px;
        margin-right: 2px;
        vertical-align: middle;
    }

    &__playing {
        display: none;
        width: 16px;
        height: 16px;
        margin-left: auto;
        margin-right: 13px;
        image-rendering: pixelated;
    }

    &.playing &__playing {
        display: block;
    }
}

.main-tab {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.menu {
    background-color: $bg;

    &__tab {
        display: none;
        height: 85vh;

        &.active {
            display: block;
        }
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 20vh;
    padding: 10px;

    &__logo {
        width: 24px;
        height: 24px;

        border-radius: 4px;
    }

    &__user {
        position: relative;
        display: flex;
        align-items: center;
        gap: 6px;
        height: 32px;
        padding: 2px;
        cursor: pointer;
        background-color: #000000b3;
        border-radius: 100vh;

        &:hover,
        &.active {
            background-color: #282828;
        }

        &__avatar {
            --img: #3e3e3e;

            position: relative;
            overflow: hidden;

            width: 28px;
            height: 28px;
            border-radius: 100vh;
            background: var(--img);

            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            &.loading::after {
                @include shimmer-after();
            }
        }

        &__name {
            overflow: hidden;
            max-width: 110px;
            min-width: 60px;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: white;
            line-height: 28px;
            font-weight: 600;
            font-size: 0.875rem;
        }

        &__arrow {
            fill: white;
            margin-inline-end: 6px;
            transform: rotate(180deg);

            &.active {
                transform: rotate(0);
            }
        }

        &__menu {
            position: absolute;
            display: none;
            right: 0;
            top: calc(100% + 5px);
            padding: 4px;
            background-color: #282828;
            box-shadow:
                0 16px 24px #0000004d,
                0 6px 8px #00000033;
            border-radius: 4px;

            &.active {
                display: block;
            }
        }

        &__menu-item {
            display: block;
            min-width: 100px;
            padding: 8px;
            color: #ffffffe6;
            text-decoration: none;
            text-align: start;
            border-radius: 2px;

            &:hover {
                background-color: #ffffff1a;
                color: #fff;
            }
        }
    }
}

.playlists {
    overflow-y: auto;
    overflow-x: hidden;
    height: 65vh;
    padding: 0;
    margin: 0;

    &__playlist,
    &__placeholder {
        overflow: hidden;
        display: flex;
        align-items: center;

        height: 72px;
        width: calc(100% - 16px);
        margin: 0 8px;
        margin-bottom: 6px;

        border-radius: 4px;
        background-color: #ffffff1a;
        text-decoration: none !important;
    }

    &__playlist {
        transition: background-color 200ms;
        cursor: pointer;

        &:hover {
            background-color: #ffffff4d;
        }
    }

    &__placeholder {
        &__img {
            position: relative;
            overflow: hidden;

            height: 72px;
            width: 72px;
            box-shadow: 0 8px 24px #00000080;
            background-color: #ffffff33;

            &::after {
                @include shimmer-after();
            }
        }

        &__text {
            position: relative;
            overflow: hidden;

            flex-grow: 1;
            margin: 0 16px;
            height: 1.4rem;

            background-color: #ffffff1a;
            border-radius: 100vh;

            &::after {
                @include shimmer-after();
            }
        }
    }

    &__playlist-img {
        height: 72px;
        width: 72px;
        object-fit: cover;
        box-shadow: 0 8px 24px #00000080;
    }

    &__playlist-name {
        margin: 0 16px;
        font-weight: bold;
    }
}

.search {
    overflow: hidden;
    flex-direction: column;

    &.active {
        display: flex;
    }

    &__top {
        width: 92vw;
        margin: 4vw;
    }

    &__inp-wrapper {
        display: flex;
        background-color: white;
        border-radius: 100vh;
    }

    &__inp-btn {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 32px;
        height: 32px;

        svg {
            height: 20px;
            width: 20px;
        }

        &--clear {
            display: none;

            &.active {
                display: flex;
            }
        }
    }

    &__inp {
        height: 32px;
        flex-grow: 1;
    }

    &__categories-arrow-wrapper {
        display: none;
        position: relative;
        width: 100%;
        overflow: hidden;
        margin-top: 4vw;
        border-radius: 100vh;

        &.active {
            display: block;
        }

        &__arrow {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            height: 28px;
            width: 28px;
            background-color: #242424;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                background-color: #2a2a2a;
            }

            &:disabled {
                display: none;
            }

            &--left {
                left: 0;
            }

            &--right {
                right: 0;
                transform: rotate(180deg);
            }

            svg {
                width: 14px;
                height: 14px;
                fill: white;
            }
        }
    }

    &__categories-wrapper {
        &.active-left {
            mask-image: linear-gradient(90deg, transparent, #000 80px);
            -webkit-mask-image: linear-gradient(90deg, transparent, #000 80px);
        }

        &.active-right {
            mask-image: linear-gradient(90deg, #000 calc(100% - 80px), transparent);
            -webkit-mask-image: linear-gradient(90deg, #000 calc(100% - 80px), transparent);
        }

        &.active-left.active-right {
            mask-image: linear-gradient(90deg, transparent, #000 80px, #000 calc(100% - 80px), transparent);
            -webkit-mask-image: linear-gradient(90deg, transparent, #000 80px, #000 calc(100% - 80px), transparent);
        }
    }

    &__categories {
        position: relative;
        left: calc(var(--offset, 0) * -1px);
        display: flex;
        font-size: 0.875rem;
        gap: 6px;
        transition: left 50ms;

        &__cat {
            display: inline-flex;
            align-items: center;
            flex-shrink: 0;
            height: 28px;
            padding: 4px 12px;
            color: white;
            background-color: #ffffff1a;
            border-radius: 100vh;
            cursor: default;
            user-select: none;
            transition: background-color 100ms;

            &:hover {
                background-color: #ffffff4d;
            }

            &.active {
                color: black;
                background-color: white;
            }
        }
    }

    &__content {
        flex-grow: 1;
        min-height: 0;
    }

    &__browse-wrapper {
        display: none;
        max-height: 100%;
        overflow-y: auto;

        &.active {
            display: block;
        }

        h1 {
            font-size: 1rem;
            margin: 4vw;
            margin-top: 0;
        }
    }

    &__browse {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 4vw;
        padding-top: 0;
        gap: 4vw;

        &__item {
            display: block;
            position: relative;
            overflow: hidden;
            aspect-ratio: 4 / 2.2;
            background-color: #ffffff1a;
            border-radius: 5px;
            cursor: pointer;
            color: white;
            text-decoration: none !important;

            span {
                display: block;
                font-weight: bold;
                font-size: 0.875rem;
                padding: 5%;
                max-width: 81%;
                overflow-wrap: break-word;
            }

            img {
                position: absolute;
                right: 0;
                bottom: 0;
                height: 63%;
                aspect-ratio: 1;
                border-radius: 7px;
                transform: rotate(25deg) translate(18%, -2%);
            }
        }
    }

    &__results {
        display: none;
        max-height: 100%;
        overflow-y: auto;
        padding: 0 4vw;

        &.active {
            display: block;
        }

        &__cat {
            display: none;
            padding-bottom: 4vw;

            &.active {
                display: block;
            }
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    background-color: #282828;

    &__btn {
        cursor: pointer;

        svg {
            fill: #b3b3b3;
        }

        &.active svg,
        &:hover svg {
            fill: white;
        }
    }
}

.playlist {
    --r: 60;
    --g: 60;
    --b: 60;

    $main-padding: 16px;

    overflow: hidden;
    transform: translateX(-100%);
    transition: all 200ms;

    &.active {
        transform: translateX(0);
    }

    &__content {
        overflow-y: auto;
        height: 100%;
        padding: 0 $main-padding;

        background: $bg linear-gradient(0deg, rgba(0, 0, 0, 0) 0, rgba(var(--r), var(--g), var(--b), 1) 100%);
        background-size: 100% 80vh;
        background-attachment: local;
        background-repeat: no-repeat;
    }

    &__header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;

        height: 46px;

        display: flex;
        align-items: center;
        gap: 8px;

        background-color: rgba(var(--r), var(--g), var(--b), var(--opacity, 0));
        padding: 0 10px;
        font-weight: 600;

        &__name {
            opacity: var(--opacity, 0);
        }
    }

    &__back svg {
        fill: white;
    }

    &__img {
        width: 50%;
        aspect-ratio: 1;
        margin: auto;
        padding-top: $main-padding;
        padding-bottom: 6px;

        img {
            position: relative;
            left: $scrollbar-width;
            width: 100%;
            aspect-ratio: 1;
            object-fit: cover;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
        }
    }

    $play-btn-size: 42px;
    $metadata-height: 48px;
    $play-meta-gap: 6px;

    &__metadata {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: $metadata-height;
        width: calc(100% - 42px - $play-meta-gap);
        margin-right: $play-meta-gap;
        overflow: hidden;
        white-space: nowrap;
        float: left;
    }

    &__name {
        max-width: fit-content;
        font-size: 1.3rem;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__creator {
        display: flex;
        align-items: center;
        gap: 6px;
        max-width: fit-content;
        font-size: 0.875rem;
        font-weight: 600;

        &__img {
            --img: #3e3e3e;

            position: relative;
            overflow: hidden;

            height: 22px;
            width: 22px;

            border-radius: 50%;
            background: var(--img);

            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            &.loading::after {
                @include shimmer-after();
            }

            &.hidden {
                display: none;
            }
        }
    }

    &__play {
        top: 24px;
        position: sticky;
        background-color: $spotify-green;
        float: left;
        height: $play-btn-size;
        width: $play-btn-size;
        margin-top: math.div($metadata-height - $play-btn-size, 2);
        border-radius: 50%;
        z-index: 1;

        &:hover {
            scale: 1.1;
        }

        & .pause {
            display: none;
        }

        &.playing {
            & .pause {
                display: inline;
            }

            & .play {
                display: none;
            }
        }
    }

    &__songs {
        clear: both;
        padding-top: 8px;

        .spotify-item:last-child {
            padding-bottom: $main-padding;
        }
    }
}

.player {
    --image: url("/static/assets/dynamic-cells/default-cover.png");

    overflow: hidden;
    transform: translateX(100%);
    transition: all 200ms;
    background-size: cover;
    background-image: linear-gradient(to top, #2d2d2de6, #2d2d2de6 30%, #00000000 60%), var(--image);

    &.active {
        transform: translateX(0);
    }

    &__wrapper {
        display: flex;
        flex-direction: column;

        width: 100vw;
        height: 94vh;
        padding: 18px;
        padding-bottom: 8px;
    }

    &__back {
        width: $player-menu-size;
        height: $player-menu-size;
        border-radius: 50%;
        background-color: rgba(45, 45, 45, 0.9);
        cursor: pointer;

        svg {
            fill: $grey;
        }

        &:hover svg {
            fill: $light-grey;
        }
    }

    &__menu-wrapper {
        position: relative;
        float: right;

        .player__vol-icon {
            display: none;
        }

        &:hover {
            .player__menu {
                border-radius: 0 50% 0 0;
            }

            .player__volume {
                display: flex;
            }

            .player__menu-icon {
                display: none;
            }

            .player__vol-icon {
                display: block;
            }

            .player__bottom-menu {
                display: block;
            }
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $player-menu-size;
        height: $player-menu-size;
        border-radius: 50%;
        background-color: rgba(45, 45, 45, 0.9);

        svg {
            fill: $grey;
        }
    }

    &__volume {
        display: none;
        align-items: center;
        float: left;
        height: $player-menu-size;
        background-color: rgba(45, 45, 45, 0.9);
        border-radius: 100vh 0 0 100vh;

        input {
            width: 35vw;
            margin-left: 10px;
        }
    }

    &__bottom-menu {
        display: none;
        position: absolute;
        right: 0;
        top: $player-menu-size;
        width: $player-menu-size;
        background-color: rgba(45, 45, 45, 0.9);
        border-radius: 0 0 100vh 100vh;

        button {
            width: $player-menu-size;
            height: $player-menu-size;

            svg {
                fill: $grey;
            }

            &:hover svg {
                fill: $light-grey;
            }

            &:disabled svg,
            &:disabled:hover svg {
                fill: $dark-grey;
            }

            &.active {
                svg {
                    fill: $spotify-green;
                }

                &:hover svg {
                    fill: $spotify-light-green;
                }
            }
        }
    }

    @keyframes loading {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-5%);
        }

        100% {
            transform: translateY(0);
        }
    }

    &__loading {
        display: inline-block;
        animation: loading 900ms infinite;

        @for $i from 0 through 2 {
            &:nth-child(#{$i + 1}) {
                animation-delay: #{$i * 200ms};
            }
        }
    }

    &__title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
        font-size: 1.6rem;
        width: fit-content;
        max-width: 80vw;
    }

    &__artist {
        font-size: 1rem;
        color: #b3b3b3;
        white-space: nowrap;
        width: fit-content;
        max-width: 80vw;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__controls {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4px 0;

        button {
            margin: 10px;

            svg {
                fill: $grey;
            }

            &:hover svg {
                fill: $light-grey;
            }
        }
    }

    &__shuffle.active,
    &__loop.active {
        svg {
            fill: $spotify-green;
        }

        &:hover svg {
            fill: $spotify-light-green;
        }
    }

    &__playpause {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        background-color: white;
        border-radius: 50%;
        margin: 0 12px;

        &:hover {
            transform: scale(1.1);
        }

        svg {
            fill: black;
        }

        .player__pause-icon {
            display: none;
        }

        &.playing {
            .player__pause-icon {
                display: block;
            }

            .player__play-icon {
                display: none;
            }
        }
    }

    &__loop {
        .player__loop-icon-1 {
            display: none;
        }

        &.loop-1 {
            .player__loop-icon {
                display: none;
            }

            .player__loop-icon-1 {
                display: block;
            }
        }
    }

    &__progress {
        display: flex;
        align-items: center;

        div {
            font-size: 0.7rem;
            color: #b3b3b3;
        }
    }

    &__progress-bar {
        flex-grow: 1;
        margin: 0 6px;
    }

    &__device {
        display: none;
        align-items: center;
        justify-content: center;
        position: relative;

        width: 100vw;
        height: 6vh;

        color: black;
        background-color: $spotify-green;
        font-size: 70%;
        font-weight: bold;

        &.active {
            display: flex;
        }

        &::before {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: $spotify-green;
            border-width: 6px;
            margin-left: -6px;
        }
    }

    &__lyrics {
        --lyrics-color-active: #ffffff;
        --lyrics-color-inactive: #33312f;
        --lyrics-color-passed: #ffffffb3;
        --lyrics-color-background: #676767;

        position: absolute;
        top: 0;
        left: 0;
        width: 100vh;
        height: 100vh;
        background-color: var(--lyrics-color-background);
        font-size: 1rem;
        font-weight: 600;
        transform: translateY(-100%);
        transition: all 200ms;

        &.active {
            transform: translateY(0);
        }

        &__close {
            position: absolute;
            top: 5%;
            right: 5%;
            cursor: pointer;
            transition: inherit;
            fill: var(--lyrics-color-inactive);

            &:hover {
                fill: var(--lyrics-color-active);
            }
        }

        &__lines {
            overflow-y: scroll;
            padding: 10%;
            width: 100vh;
            height: 100vh;
            scrollbar-width: 0;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &__line {
            cursor: pointer;
            color: var(--lyrics-color-inactive);
            transition: inherit;

            &:hover,
            &.active {
                color: var(--lyrics-color-active);
            }

            &.passed {
                color: var(--lyrics-color-passed);
            }
        }
    }
}
