$grey: grey;
$light-grey: white;

$spotify-green: #1db954;
$spotify-light-green: #1ed760;

$player-menu-size: 38px;

body {
    color: white;
    font-family: "Roboto", sans-serif;
}

button {
    background-color: transparent;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #484848;
}

.spotify-input {
    --color: #b3b3b3;
    --percentage: 50;
    -webkit-appearance: none;
    height: 3px;
    outline: none;
    border-radius: 100px;
    background: linear-gradient(to right, var(--color) 0%, var(--color) calc(var(--percentage) * 1%), #535353 calc(var(--percentage) * 1%), #535353 100%);

    &:hover {
        --color: #{$spotify-green};
    }

    &::-webkit-slider-thumb {
        appearance: none;
        -webkit-appearance: none;
    }

    &:hover::-webkit-slider-thumb {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: white;
    }

    &::-moz-range-thumb {
        width: 12px;
        height: 12px;
        border: none;
        border-radius: 50%;
        background: transparent;
    }

    &:hover::-moz-range-thumb {
        background: white;
    }
}

.main-tab {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
}

.menu {
    background-color: #121212;

    &__tab {
        display: none;
        height: 85vh;

        &.active {
            display: block;
        }
    }
}

.header {
    box-sizing: border-box;
    display: flex;
    align-items: center;

    height: 20vh;
    padding: 10px;

    &__logo {
        width: 24px;
        height: 24px;

        border-radius: 4px;
    }

    &__logout {
        height: 24px;
        margin-right: 3px;

        svg {
            fill: red;
        }
    }

    &__name {
        font-weight: bold;
        margin-right: 8px;
    }

    &__avatar {
        width: 28px;
        height: 28px;
        border-radius: 50%;
    }
}

.playlists {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 65vh;
    padding: 0;
    margin: 0;

    &__playlist {
        overflow: hidden;
        display: flex;
        align-items: center;

        height: 72px;
        width: calc(100% - 16px);
        margin: 0 8px;
        margin-bottom: 6px;

        background-color: rgba(255, 255, 255, .1);
        transition: background-color 200ms;
        border-radius: 6px;
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, .3);
        }
    }

    &__playlist-img {
        height: 72px;
    }

    &__playlist-name {
        margin-left: 8px;
        font-weight: bold;
    }
}

.search {
    overflow: hidden;

    &__inp-wrapper {
        overflow: hidden;
        display: flex;

        width: 92vw;
        height: 32px;
        margin: 4vh 4vw;

        background-color: white;
        border-radius: 100vh;
    }

    &__inp-btn {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 32px;
        height: 32px;

        svg {
            height: 20px;
            width: 20px;
        }

        &--clear {
            display: none;

            &.active {
                display: flex;
            }
        }
    }

    &__inp {
        height: 100%;
        flex-grow: 1;
        padding: 0;
        margin: 0;
        border: none;
        outline: none;
    }

    &__results {
        overflow-y: scroll;
        height: calc(77vh - 31px);
    }

    &__result-category {
        box-sizing: border-box;
        width: calc(100vw - 12px);
        padding: 0 8px;

        &__name {
            font-weight: bold;
            margin-bottom: 6px;
            text-transform: capitalize;
        }
    }

    &__result {
        overflow: hidden;
        display: flex;
        align-items: center;

        height: 60px;
        margin-bottom: 6px;

        border-radius: 8px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, .1);
        transition: background-color 200ms;

        &:hover {
            background-color: rgba(255, 255, 255, .3);
        }

        img {
            height: 60px;
            width: 60px;
        }
    }

    &__result-title-author {
        margin-left: 8px;
    }

    &__result-title {
        font-weight: bold;
    }

    &__result-author {
        font-size: .9rem;
        color: #7e7e7e;
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    background-color: #282828;

    &__btn {
        cursor: pointer;

        svg {
            fill: #b3b3b3;
        }

        &.active svg,
        &:hover svg {
            fill: white;
        }
    }
}

.player {
    --image: url("https://dummyimage.com/600x600/0af7bc/fff");

    overflow: hidden;
    display: none;
    background-size: cover;
    background-image:
        linear-gradient(to top, rgba(45, 45, 45, 0.9), rgba(45, 45, 45, 0.9) 30%, rgba(0, 0, 0, 0) 60%),
        var(--image);

    &.active {
        display: block;
    }

    &__wrapper {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        width: 100vw;
        height: 94vh;
        padding: 18px;
        padding-bottom: 8px;
    }

    &__back {
        width: $player-menu-size;
        height: $player-menu-size;
        border-radius: 50%;
        background-color: rgba(45, 45, 45, 0.9);
        cursor: pointer;

        svg {
            fill: $grey;
            vertical-align: middle;
        }

        &:hover svg {
            fill: $light-grey;
        }
    }

    &__menu-wrapper {
        position: relative;
        float: right;

        .player__vol-icon {
            display: none;
        }

        &:hover {
            .player__menu {
                border-radius: 0 50% 0 0;
            }

            .player__volume {
                display: flex;
            }

            .player__menu-icon {
                display: none;
            }

            .player__vol-icon {
                display: block;
            }

            .player__bottom-menu {
                display: block;
            }
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $player-menu-size;
        height: $player-menu-size;
        border-radius: 50%;
        background-color: rgba(45, 45, 45, 0.9);

        svg {
            fill: $grey;
        }
    }

    &__volume {
        display: none;
        align-items: center;
        float: left;
        height: $player-menu-size;
        background-color: rgba(45, 45, 45, 0.9);
        border-radius: 100vh 0 0 100vh;

        input {
            width: 35vw;
            margin-left: 10px;
        }
    }

    &__bottom-menu {
        display: none;
        position: absolute;
        right: 0;
        top: $player-menu-size;
        width: $player-menu-size;
        background-color: rgba(45, 45, 45, 0.9);
        border-radius: 0 0 100vh 100vh;

        button {
            width: $player-menu-size;
            height: $player-menu-size;

            svg {
                fill: $grey;
            }

            &:hover svg {
                fill: $light-grey;
            }

            &.active {
                svg {
                    fill: $spotify-green;
                }

                &:hover svg {
                    fill: $spotify-light-green;
                }
            }
        }
    }

    &__title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
        font-size: 1.6rem;
        max-width: 80vw;
    }

    &__artist {
        font-size: 1rem;
        color: #b3b3b3;
        white-space: nowrap;
        max-width: 80vw;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__controls {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4px 0;

        button {
            margin: 10px;

            svg {
                fill: $grey;
            }

            &:hover svg {
                fill: $light-grey;
            }
        }
    }

    &__shuffle.active,
    &__loop.active {
        svg {
            fill: $spotify-green;
        }

        &:hover svg {
            fill: $spotify-light-green;
        }
    }

    &__playpause {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        background-color: white;
        border-radius: 50%;
        margin: 0 12px;

        &:hover {
            transform: scale(1.1);
        }

        svg {
            fill: black;
        }

        .player__pause-icon {
            display: none;
        }

        &.playing {
            .player__pause-icon {
                display: block;
            }

            .player__play-icon {
                display: none;
            }
        }
    }

    &__loop {
        .player__loop-icon-1 {
            display: none;
        }

        &.loop-1 {
            .player__loop-icon {
                display: none;
            }

            .player__loop-icon-1 {
                display: block;
            }
        }
    }

    &__progress {
        display: flex;
        align-items: center;

        div {
            font-size: .7rem;
            color: #b3b3b3;
        }
    }

    &__progress-bar {
        flex-grow: 1;
        margin: 0 6px;
    }

    &__device {
        display: none;
        align-items: center;
        justify-content: center;
        position: relative;

        width: 100vw;
        height: 6vh;

        color: black;
        background-color: $spotify-green;
        font-size: 70%;
        font-weight: bold;

        &.active {
            display: flex;
        }

        &::before {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: $spotify-green;
            border-width: 6px;
            margin-left: -6px;
        }
    }
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #262626d6;

    img {
        width: 32px;
        height: 32px;
        image-rendering: pixelated;
    }
}
