@forward "../../sass/base/reset";

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 12px;

    font-family: "Roboto Mono", monospace;
    color: white;
}

.location {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;

    &__search-wrapper {
        display: none;
        position: relative;
    }

    &.searching {
        .location__city {
            display: none;
        }

        .location__search-wrapper {
            display: unset;
        }
    }

    &__search-input {
        width: 180px;
        height: 22px;
        padding: 2px;
        background-color: white;
    }

    &__suggestions {
        position: absolute;
        width: 180px;
        top: 22px;
        left: 0;
        z-index: 1;
    }

    &__suggestion {
        width: 100%;
        padding: 6px;
        background-color: #353535;
        cursor: pointer;

        &:hover {
            background-color: #404040;
        }
    }

    &__search {
        filter: invert(1);
        width: 1.7rem;
        height: 1.7rem;
        margin: 0 4px;
        cursor: pointer;
    }

    &__line {
        flex-grow: 1;
        height: 2px;
        background-color: white;
        margin: 0 6px;
    }
}

@mixin big-size {
    @media (min-aspect-ratio: 7 / 4) {
        @content;
    }
}

.weather {
    display: flex;
    align-items: center;

    flex-grow: 1;
    width: 100%;

    // reduced icon margin
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;

        overflow: hidden;

        height: 128px;
        width: 128px;

        img {
            width: 110%;
            height: 110%;
        }
    }

    &__temp {
        font-size: 3.6rem;

        @include big-size {
            font-size: 4rem;
        }
    }

    &__min-max > * {
        float: left;
        font-size: 1.3rem;

        @include big-size {
            font-size: 1.5rem;
        }
    }

    &__min {
        color: #bcb5aa;
    }

    &__max {
        margin-left: 8px;
        color: #e8e6e3;
    }

    .degrees {
        display: inline-block;
        font-size: 0.5em;
        transform: translateY(-50%);
    }

    &__additional-stats {
        display: none;
        text-align: right;

        @include big-size {
            display: block;
        }
    }

    &__charts {
        display: flex;
        gap: 4px;
        height: 100%;
        padding: 16px 6px 0 0;

        @include big-size {
            display: none;
        }

        $chart-metadata: (
            (
                #cae3ed,
                #73b0c8,
                "https://raw.githubusercontent.com/basmilius/weather-icons/dev/production/fill/svg/snowflake.svg",
                150%
            ),
            (
                #69aae3,
                #3c7bb3,
                "https://raw.githubusercontent.com/basmilius/weather-icons/dev/production/fill/svg/raindrop-measure.svg",
                170%
            ),
            (
                #5695cb,
                #1e5f97,
                "https://raw.githubusercontent.com/basmilius/weather-icons/dev/production/fill/svg/humidity.svg",
                170%
            ),
            (
                #cdd8dc,
                #918e8e,
                "https://raw.githubusercontent.com/basmilius/weather-icons/dev/production/fill/svg/compass.svg",
                120%
            )
        );

        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6px;

            @for $i from 1 through length($chart-metadata) {
                $colors: nth($chart-metadata, $i);

                &:nth-child(#{$i}) {
                    --bg-color: #{nth($colors, 1)};
                    --val-color: #{nth($colors, 2)};
                    $icon: nth($colors, 3);
                    --icon-url: url(#{$icon});
                    --icon-size: #{nth($colors, 4)};
                }
            }

            &.hide {
                display: none;
            }
        }

        &__chart {
            $chart-width: 9px;
            $indicator-margin: 3px;
            $indicator-arrow-size: 6px;
            $indicator-color: #282828;

            position: relative;
            width: $chart-width;
            flex-grow: 1;
            border-radius: 100vh;
            background-color: var(--bg-color);

            &__val {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: inherit;
                overflow: hidden;

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: calc(var(--percentage, 50) * 1%);
                    background-color: var(--val-color);
                    transition: all 200ms;
                }
            }

            &__indicator {
                display: none;
                position: absolute;
                right: $chart-width + $indicator-margin + $indicator-arrow-size;
                bottom: calc(var(--percentage, 50) * 1%);
                background-color: $indicator-color;
                transform: translateY(50%);
                white-space: nowrap;
                padding: 5px;
                border-radius: 5px;
                font-size: 0.8rem;

                &::after {
                    content: "";
                    position: absolute;
                    height: 0;
                    width: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -$indicator-arrow-size;
                    border-top: $indicator-arrow-size solid transparent;
                    border-bottom: $indicator-arrow-size solid transparent;
                    border-left: $indicator-arrow-size solid $indicator-color;
                }
            }
        }

        &__wrapper:hover &__chart__indicator {
            display: block;
        }

        &__icon {
            width: 26px;
            height: 26px;
            background: var(--icon-url);
            background-position: center;
            background-size: var(--icon-size);
        }
    }
}

.days {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    &__day {
        display: none;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

        width: 60px;
        height: 84px;

        border-radius: 8px;
        cursor: pointer;

        @for $i from 1 through 8 {
            @media (min-aspect-ratio: #{$i} / 4) {
                &:nth-child(#{$i}) {
                    display: flex;
                }
            }
        }

        &:hover,
        &.active {
            background-color: #4c4c4c;
        }

        img {
            width: 50px;
            height: 50px;
        }

        &__name {
            padding-bottom: 6px;
            font-size: 1rem;
        }
    }
}
