@forward "../../sass/base/reset";
@use "../../sass/main/abstracts/colors" as c;

$bg-color: #171d1b;
$header-color: #2b3b3a;
$blue: #047cb4;

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: $bg-color;
    color: white;
    font-family: Roboto, Arial, sans-serif;
}

$scrollbar-width: 8px;

::-webkit-scrollbar {
    width: $scrollbar-width;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888888;
}

* {
    scrollbar-color: #888888 transparent;
    scrollbar-width: thin;
}

.header {
    display: flex;
    align-items: center;

    height: 40px;
    padding: 0 8px;

    font-size: 1.2rem;
    background-color: $header-color;

    &__btn {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        cursor: pointer;

        &.active {
            animation: spin 3s linear infinite;
        }

        svg {
            fill: white;
        }

        &__err {
            display: none;
            fill: c.$red !important;
        }

        &.err {
            svg {
                display: none;
            }

            .header__btn__err {
                display: block;
            }
        }
        svg {
            fill: white;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    @keyframes spin {
        100% {
            transform: rotate(-360deg);
        }
    }
}

.error {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    &.active {
        display: flex;
    }

    svg {
        fill: c.$red;
    }

    span {
        color: c.$red;
        width: 50%;
        text-align: center;
        font-weight: 600;
    }
}

.placeholder {
    display: none;

    &.active {
        display: flex;
    }

    &__left {
        width: 20vw;
    }

    &__right {
        width: 80vw;
        padding-right: 12px;
    }

    @keyframes placeholder {
        from {
            background-color: #3d3d3d;
        }

        to {
            background-color: #2a2a2a;
        }
    }

    --animation: placeholder 1.3s infinite alternate linear;

    &__date {
        margin: 6px;
        width: calc(20vw - 12px);
        height: calc(20vw - 12px);
        border-radius: 50%;
        animation: var(--animation);
    }

    &__ev {
        width: 100%;
        min-height: 2rem;
        border-radius: 6px;
        margin: 6px 0;
        margin-bottom: 10px;
        animation: var(--animation);

        &--big {
            height: 2.9rem;
        }

        &--margin {
            margin-bottom: 14px;
        }
    }
}

.days {
    flex: 1 1 0;
    overflow-x: hidden;
    overflow-y: scroll;

    &__day {
        display: flex;
    }

    &__date-wrapper {
        width: 20vw;
        height: 20vw;
        padding: 6px;
    }

    &__date {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: calc(20vw - 12px);
        height: calc(20vw - 12px);
        border-radius: 50%;
        font-size: 14px;
        text-align: center;

        &.active {
            font-weight: bold;
            background-color: #4bdfa5;
            color: $bg-color;
        }
    }

    &__date-name {
        font-size: 13px;
    }

    &__events {
        flex-grow: 1;
        min-height: 20vw;
        margin-right: 6px;
    }

    &__no-events {
        display: flex;
        align-items: center;
        height: 20vw;
        margin-left: 4px;
        color: grey;
    }

    &__event {
        display: block;
        width: 100%;
        padding: 6px;
        margin: 6px 0;
        background-color: $blue;
        border-radius: 6px;
        color: inherit;
        text-decoration: none;

        &:hover {
            filter: brightness(0.9);
        }
    }

    &__event-name {
        font-weight: bold;
    }

    &__event-time {
        font-size: 0.9rem;
    }
}
