$bg-color: #171d1b;
$header-color: #2b3b3a;
$blue: #047cb4;

body {
    height: 100vh;
    margin: 0;
    background-color: $bg-color;
    color: white;
    font-family: Roboto, Arial, sans-serif;
}

$scrollbar-width: 10px;

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 100vh;
}

.header {
    box-sizing: border-box;
    display: flex;
    align-items: center;

    height: 40px;
    padding: 0 8px;

    font-size: 1.2rem;
    background-color: $header-color;

    svg {
        fill: white;
    }

    &__btn {
        width: 24px;
        height: 24px;
        padding: 0;
        margin: 0;
        margin-right: 8px;
        outline: none;
        border: none;
        background-color: transparent;
        cursor: pointer;

        &.active {
            animation: spin 3s linear infinite;
        }
    }

    @keyframes spin {
        100% {
            transform: rotate(-360deg);
        }
    }

    &__link {
        height: 20px;
        width: 20px;
    }
}

.days {
    height: 85vh;
    overflow-x: hidden;
    overflow-y: scroll;

    &__day>* {
        float: left;
    }

    &__date-wrapper {
        box-sizing: border-box;
        width: 20vw;
        height: 20vw;
        padding: 6px;
    }

    &__date {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: calc(20vw - 12px);
        height: calc(20vw - 12px);
        border-radius: 50%;
        font-size: 14px;
        text-align: center;

        &.active {
            font-weight: bold;
            background-color: #4bdfa5;
            color: $bg-color;
        }
    }

    &__date-name {
        font-size: 13px;
    }

    &__events {
        width: calc(80vw - $scrollbar-width - 4px);
        min-height: 20vw;
    }

    &__event {
        box-sizing: border-box;
        width: 100%;
        padding: 6px;
        margin: 6px 0;
        background-color: $blue;
        border-radius: 6px;
    }

    &__event-name {
        font-weight: bold;
    }
}

.input-modal {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #{$bg-color}cc;

    &.active {
        display: flex;
    }

    &__input {
        width: 80vw;
    }

    &__save {
        margin-top: 8px;
        padding: 6px 12px;

        background-color: $blue;
        outline: none;
        border: none;
        border-radius: 6px;
        color: white;
        font-size: 1.2rem;
        cursor: pointer;

        &:hover {
            filter: brightness(130%);
        }
    }
}
