@use "sass:math" as math;
@use "./static-pages/abstracts/colors" as c;

h1,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

$section-height: calc(100vh - 85px);

section {
    min-height: $section-height;
}

.landing {
    position: relative;

    &__image-wrapper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
        height: $section-height;
        width: 100%;
    }

    &__image {
        width: 70%;
    }

    &__brief {
        width: 100%;
        height: $section-height;
    }

    &__brief-content-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        float: left;
        background-color: #383a45e0;
        width: 40%;
        height: 100%;
    }

    &__brief-heading {
        font-size: 4rem;
    }

    &__brief-subheading {
        font-size: 1.6rem;
    }

    $synonyms: "homepage", "dashboard", "control panel";
    $time-for-one-synonym: 2s;

    @keyframes synonyms-animation {
        $step: math.div(100%, length($synonyms));

        @for $i from 0 to length($synonyms) {
            #{$i * $step} {
                content: nth($synonyms, $i + 1);
            }
        }
    }

    &__brief-synonyms::after {
        content: nth($synonyms, 1);
        $bg-color: transparent;
        // padding: 0 4px;

        color: c.$blue;
        background-color: $bg-color;
        font-weight: bold;
        border-radius: 2px;
        box-shadow: 0 0 0 2px $bg-color;

        animation: synonyms-animation length($synonyms) * $time-for-one-synonym infinite linear;
    }

    &__brief-login-a {
        margin-top: 8px;
        display: inline-block;
        width: fit-content;
    }

    &__brief-login {
        font-size: 1.2rem;
        padding: 12px;
    }

    &__brief-triangle {
        float: left;
        width: 0;
        height: 0;
        border-bottom: calc(100vh - 85px) solid #383a45e0; // height
        border-right: 200px solid transparent; // width
    }
}

.advantages {
    background-color: #3c3e4b;

    a {
        color: c.$blue;
    }

    &__advantage {
        width: 60vw;
        padding: 120px 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__img {
        height: 370px;
        width: 370px;
    }

    &__text {
        height: fit-content;
        max-width: 45%;
        font-size: 1.7rem;
    }

    &__h1 {
        font-size: 2.5rem;
    }
}
