$google: #EA4335;
$discord: #5865F2;
$github: #181717;

$logo-darken-lvl: 5%;
$content-width: 240px;

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    @include flex-center();
    background: linear-gradient(156deg, rgba(0, 255, 106, 1) 0%, rgba(0, 206, 255, 1) 100%);
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 16px 16px 32px -16px #000;
}

input {
    box-sizing: border-box;
    display: block;
    border: none;
    border-bottom: solid grey 1px;
    width: $content-width;
    padding: 4px 0;
    margin-bottom: 16px;
    font-size: 1rem;

    &:focus {
        outline: none;
    }
}

.forgot-pass {
    display: block;
    text-decoration: underline;
    color: grey;
    font-size: .8rem;
    margin: 10px 0;
}

#login {
    width: $content-width;
    background-color: #00ceff;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 100vh;
    border: none;
    padding: 12px;

    &:hover {
        cursor: pointer;
        background-color: darken(#00ceff, $logo-darken-lvl)
    }
}

.separator {
    @include flex-center();

    span {
        color: grey;
        margin: 8px;
    }

    #{&}-line {
        flex-grow: 1;
        height: 1px;
        background-color: grey;
    }
}

$brand-logo-dimensions: 38px;

.login-btn {
    display: flex;
    width: $content-width;
    text-decoration: none;
    color: white;
    font-size: .9rem;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 12px;

    &:hover {
        filter: brightness(.95);
    }

    .brand-logo {
        width: $brand-logo-dimensions;
        height: $brand-logo-dimensions;
        box-sizing: border-box;
        padding: 8px;

        img {
            filter: invert(1);
            width: $brand-logo-dimensions - 16px;
            height: $brand-logo-dimensions - 16px;
            float: left;
            image-rendering: crisp-edges;
        }
    }

    .text {
        @include flex-center();
        width: $content-width - $brand-logo-dimensions;
    }

    &.google {
        background-color: $google;

        .brand-logo {
            background-color: darken($google, $logo-darken-lvl);
        }
    }

    &.discord {
        background-color: $discord;

        .brand-logo {
            background-color: darken($discord, $logo-darken-lvl);
        }
    }

    &.github {
        background-color: $github;

        .brand-logo {
            background-color: darken($github, $logo-darken-lvl);
        }
    }
}
