@forward "./base/reset";
@use "./static-pages/abstracts/colors" as c;

$brands: (
    "google": #EA4335,
    "discord": #5865F2,
    "github": #181717
);

:root {
    color-scheme: dark;
}

body {
    background-color: #262730;
    font-family: basic-sans, sans-serif;
    margin: 0;
}

.main-wrapper {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 25vw;
    background-color: #383a45e0;
}

.triangle {
    float: left;
    width: 0;
    height: 0;
    border-bottom: 100vh solid #383a45e0; // height
    border-right: 200px solid transparent; // width
}

.login {
    background-color: #1c1d21;
    border-radius: 12px;
    transform: translateX(80%);
    width: 270px;
    padding: 32px;

    h1 {
        margin: 12px 0;
    }

    &__text-inp {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        width: 100%;
        border-bottom: solid #383a45 2px;
        margin: 10px 0;

        input {
            padding: 6px;
            font-size: 1.3rem;
            width: 60px;
            flex-grow: 1;

            &::placeholder {
                color: #383a45;
            }
        }

        svg {
            width: 24px;
            height: 24px;
            fill: #383a45;
            vertical-align: middle;
        }

        #toggle-password {
            margin-right: 4px;
            cursor: pointer;

            svg {
                fill: #4d505f;
            }
        }
    }

    &__validation {
        font-size: .9rem;
        color: #d4392a;
    }

    &__forgot-pass {
        display: block;
        color: c.$blue;
        margin: 8px 4px;
    }

    &__main-btn {
        width: 100%;
        padding: 8px 0;
        margin-top: 8px;
        background-color: c.$blue;
        font-size: 1.4rem;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
            filter: brightness(.9);
        }
    }

    &__no-account {
        margin: 12px 4px;

        span {
            color: c.$blue;
            cursor: pointer;
        }
    }

    &__separator {
        color: #4b4d5a;
        margin: 20px 0;
        display: flex;
        align-items: center;

        &::before,
        &::after {
            content: "";
            flex-grow: 1;
            height: 1px;
            background-color: currentColor;
        }

        &::before {
            margin-right: 4px;
        }

        &::after {
            margin-left: 4px;
        }
    }

    $brand-btn-height: 40px;

    &__brand-btn {
        display: flex;
        align-items: center;
        width: 100%;
        height: $brand-btn-height;
        margin-bottom: 12px;
        text-decoration: none;
        color: white;
        border-radius: 6px;
        overflow: hidden;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            filter: brightness(.9);
        }

        @each $brand,
        $color in $brands {
            &.#{$brand} {
                --color: #{$color};
                --dark-color: #{darken($color, 5%)};
            }
        }
    }

    &__brand-logo {
        height: $brand-btn-height;
        width: $brand-btn-height;
        background-color: var(--dark-color);

        img {
            filter: invert(1);
            padding: 6px;
            width: $brand-btn-height - 6px * 2;
            height: $brand-btn-height - 6px * 2;
        }
    }

    &__brand-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        background-color: var(--color);
        height: 100%;
    }
}
