@use "./colors" as c;
@use "./utils" as u;

@forward "./components/grid";
@forward "./components/edit-panel";
@forward "./components/add-cell-modal";

body {
    @include u.flexCenter();

    font-family: basic-sans, sans-serif;
    background-color: c.$bg-color;
    min-height: 100vh;
    margin: 0;
}

.grid-container {
    min-width: 1400px;
    position: relative;
}
