@use "./abstracts/colors" as c;
@use "./abstracts/mixins" as m;

@forward "./components/grid";
@forward "./components/grid-menu";
@forward "./components/profile";
@forward "./components/add-cell-modal";

body {
    @include m.flexCenter();

    font-family: basic-sans, sans-serif;
    background-color: c.$bg-color;
    min-height: 100vh;
    margin: 0;
}

.green {
    background-color: c.$green;
}

.red {
    background-color: c.$red;
}
