<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= msg %>
    </title>
    <link rel="shortcut icon" href="/static/assets/favicon.ico" type="image/x-icon">
    <style>
        :root {
            color-scheme: dark;
        }

        body {
            background-color: #262730;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }

        main {
            width: fit-content;
            margin: auto;
            margin-top: 64px;
            padding: 32px;
            background-color: #2d79d6;
            font-size: 1.4rem;
            border-radius: 16px;
        }

        h1 {
            margin-top: 0;
        }

    </style>
</head>

<body>
    <main>
        <h1>Tileio</h1>
        <%= msg %>
    </main>
</body>

</html>
