<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/assets/favicon.ico" type="image/x-icon">
    <title>WidgetBlocks</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>

<body>
    <header class="header">
        <a class="header__logo" href="/">
            <img src="/static/assets/logo.png" alt="logo">
            <span>WidgetBlocks</span>
        </a>
        <nav class="nav">
            <ul class="nav__links">
                <li class="nav__link">
                    <a href="/home">Home</a>
                </li>
                <li class="nav__link">
                    <a href="">Guides</a>
                </li>
                <li class="nav__link">
                    <a href="">For Developers</a>
                </li>
            </ul>
        </nav>
        <a href="/auth"><button class="header__login action-btn">Login</button></a>
    </header>
    <section class="landing">
        <div class="landing__image-wrapper">
            <img class="landing__image" src="/static/assets/landing-page.png" alt="Landing Page Image">
        </div>
        <div class="landing__brief">
            <div class="landing__brief-content-wrapper">
                <div class="landing__brief-content">
                    <h1 class="landing__brief-heading">WidgetBlocks</h1>
                    <p class="landing__brief-subheading">
                        Create your ideal
                        <span class="landing__brief-synonyms"></span>
                    </p>
                    <p class="landing__brief-subheading">with few simple clicks.</p>
                    <a class="landing__brief-login-a" href="/auth">
                        <button class="landing__brief-login action-btn">
                            <div>Start using now</div>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                                <path d="m12 20-1.425-1.4 5.6-5.6H4v-2h12.175l-5.6-5.6L12 4l8 8Z" />
                            </svg>
                        </button>
                    </a>
                </div>
            </div>
            <div class="landing__brief-triangle"></div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer__made-by">
            <i>Made by <a href="https://github.com/loloToster" target="_blank">loloToster</a></i>
        </div>
    </footer>
</body>

</html>
