<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/assets/favicon.ico" type="image/x-icon">
    <title>WidgetBlocks</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>

<body>
    <header>
        <a class="logo" href="/">
            <img src="/static/assets/logo.png" alt="logo">
            <span>WidgetBlocks</span>
        </a>
        <nav class="nav">
            <ul class="nav__links">
                <li class="nav__link">
                    <a href="/home">Home</a>
                </li>
                <li class="nav__link">
                    <a href="">Guides</a>
                </li>
                <li class="nav__link">
                    <a href="">About</a>
                </li>
            </ul>
        </nav>
        <a href="/auth"><button class="login">Login</button></a>
    </header>
</body>

</html>
