<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/assets/favicon.ico" type="image/x-icon">
    <title>
        Tileio • <%= title %>
    </title>
    <link rel="stylesheet" href="/static/css/static-page.css">
    <script defer src="/static/js/static-page.js"></script>
</head>

<body>
    <header class="header">
        <a class="header__logo" href="/">
            <img src="/static/assets/logo.png" alt="logo">
            <span>Tileio</span>
        </a>
        <nav class="nav">
            <ul class="nav__links">
                <li class="nav__link">
                    <a href="/home">Home</a>
                </li>
                <li class="nav__link">
                    <a href="/guides">Guides</a>
                </li>
                <li class="nav__link">
                    <a href="/api-docs">API Docs</a>
                </li>
                <li class="nav__link">
                    <a href="/auth"><button class="nav__login action-btn">Login</button></a>
                </li>
            </ul>
        </nav>
        <button class="header__open-mobile-menu">
            <svg xmlns="http://www.w3.org/2000/svg" height="40" width="40">
                <path d="M4.542 30.75v-3.667h30.916v3.667Zm0-8.917v-3.666h30.916v3.666Zm0-8.916V9.25h30.916v3.667Z" />
            </svg>
        </button>
    </header>
    <%- include(`static-pages/${content}.ejs`) %>
        <footer class="footer">
            <div class="footer__made-by">
                <i>Made by <a href="https://github.com/loloToster" target="_blank">loloToster</a></i>
            </div>
        </footer>
</body>

</html>
