<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/assets/favicon.ico" type="image/x-icon">
    <title>WidgetBlocks</title>
    <link rel="stylesheet" href="/static/css/static-page.css">
</head>

<body>
    <header class="header">
        <a class="header__logo" href="/">
            <img src="/static/assets/logo.png" alt="logo">
            <span>WidgetBlocks</span>
        </a>
        <nav class="nav">
            <ul class="nav__links">
                <li class="nav__link">
                    <a href="/home">Home</a>
                </li>
                <li class="nav__link">
                    <a href="/guides">Guides</a>
                </li>
                <li class="nav__link">
                    <a href="/api-docs">API Docs</a>
                </li>
            </ul>
        </nav>
        <a href="/auth"><button class="header__login action-btn">Login</button></a>
    </header>
    <%- include(`static-pages/${content}.ejs`) %>
        <footer class="footer">
            <div class="footer__made-by">
                <i>Made by <a href="https://github.com/loloToster" target="_blank">loloToster</a></i>
            </div>
        </footer>
</body>

</html>
