.header {
    box-sizing: border-box;
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    align-items: center;
    height: 85px;
    padding: 20px 120px;
    background-color: #30323c;
    box-shadow: 0px 0px 8px 0px #191a21;

    a {
        text-decoration: none;
        color: white;
    }

    &__logo {
        margin-right: auto;
        display: flex;
        align-items: center;

        img {
            height: 2.5rem;
            width: 2.5rem;
        }

        span {
            font-family: monospace;
            font-size: 2rem;
            margin-left: 8px;
        }
    }

    &__login {
        margin-left: 12px;
        padding: 12px 16px;
        font-size: 1.1rem;
    }
}

.nav {
    &__links {
        padding: 0;
        margin: 0;
    }

    &__link {
        display: inline-block;
        margin: 0 12px;
        font-size: 1.1rem;

        &:hover {
            text-decoration: underline;
        }
    }
}
