<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/gridstack.min.css" />
    <link rel="stylesheet" href="/gridstack-extra.min.css" />
    <link rel="stylesheet" href="/static/css/main.css">
    <script defer src="/static/js/index.js"></script>
</head>

<body>
    <div id="add-cell-modal">
        <div class="modal-content">
            <h1>
                Create Cell
            </h1>
            <h2>
                Choose Icon
            </h2>
            <input id="cell-icon" type="text" placeholder="Search for icon">
            <div class="icons">
                <img src="/static/assets/edit.svg">
                <img src="/static/assets/edit.svg">
                <img src="/static/assets/edit.svg">
            </div>
            <h2>
                Choose Color
            </h2>
            <span class="choose-color">Based on icon: <div id="suggested-color" class="color"></div></span>
            <span class="choose-color">Or your own: <input type="color" id="color-picker" class="color"></span>
            <h2>Choose link</h2>
            <input id="cell-link" type="text" placeholder="Type your link here">
            <span class="cell-link-validator">This doesn't look like a valid link</span>
        </div>
    </div>
    <div class="grid-container">
        <div class="grid-stack"></div>
        <div class="edit-panel">
            <button id="edit" class="edit-panel-element">
                <img class="edit-icon" src="/static/assets/edit.svg" alt="edit">
                <img class="save-icon" src="/static/assets/cloud_upload.svg" alt="edit">
            </button>
            <button id="add-cell" class="edit-panel-element">
                <img src="/static/assets/add.svg" alt="add">
            </button>
            <div id="trash" class="edit-panel-element" title="Move cells here to delete them">
                <img src="/static/assets/delete.svg" alt="delete">
            </div>
        </div>
    </div>
</body>

</html>
