<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% if (user) { %>
        <ul>
            <li>
                id: <%= user.googleId %>
            </li>
            <li>
                name: <%= user.name %>
            </li>
            <li>
                pic: <%= user.picture %>
            </li>
            <li>
                email: <%= user.email %>
            </li>
        </ul>
        <a href="/auth/logout">
            logout
        </a>
        <% } else { %>
            <a href="/auth/login">
                login
            </a>
            <%}%>
</body>

</html>
