<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/gridstack.min.css" />
    <link rel="stylesheet" href="/gridstack-extra.min.css" />
    <link rel="stylesheet" href="/static/css/main.css">
    <script defer src="/static/js/index.js"></script>
</head>

<body>
    <div class="add-modal">
        <div class="add-modal__content">
            <div class="add-modal__col">
                <h1>
                    Create Cell
                </h1>
                <h2>
                    Choose Icon
                </h2>
                <input id="add-modal__icon-inp" type="text" placeholder="Search for icon">
                <div class="add-modal__icons">
                </div>
                <h2>
                    Choose Color
                </h2>
                <span class="add-modal__choose-color">
                    Based on icon:
                    <div class="add-modal__suggested-color color"></div>
                </span>
                <span class="add-modal__choose-color">
                    Or your own:
                    <input type="color" id="add-modal__color-picker" class="color" value="#3e3e3e">
                </span>
                <h2>Choose link</h2>
                <input id="add-modal__link-inp" type="text" placeholder="Type your link here">
                <span class="add-modal__link-validator">This doesn't look like a valid link to me</span>
            </div>
            <div class="add-modal__col">
                <div class="add-modal__preview">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="preview">
                </div>
                <button class="add-modal__finish">Finish</button>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="grid-stack"></div>
        <div class="grid__menu">
            <button id="grid__menu__profile" class="grid__menu__item">
                <img src="/static/assets/person.svg" alt="profile">
            </button>
            <button id="grid__menu__settings" class="grid__menu__item">
                <img src="/static/assets/settings.svg" alt="settings">
            </button>
            <div class="grid__menu__edit-panel">
                <button id="grid__menu__edit" class="grid__menu__item">
                    <img class="edit-icon" src="/static/assets/edit.svg" alt="edit">
                    <img class="save-icon" src="/static/assets/cloud_upload.svg" alt="edit">
                </button>
                <button id="grid__menu__add" class="green grid__menu__item">
                    <img class="invert-1" src="/static/assets/add.svg" alt="add">
                </button>
                <div id="grid__menu__trash" class="red grid__menu__item grid__menu__item--no-margin">
                    <img class="invert-1" src="/static/assets/delete.svg" alt="delete">
                </div>
            </div>
        </div>
    </div>
</body>

</html>
