body {
    background-color: #e5e988;
    margin: 0;
}

#note {
    box-sizing: border-box;

    padding: 24px;

    width: 100vw;
    height: 100vh;

    font-family: "Indie Flower", serif;
    font-weight: bold;
    font-size: 1.7rem;
}
