$padding: 24px;

body {
    box-sizing: border-box;
    overflow: hidden;

    margin: 0;
    padding: $padding;

    background-color: #e5e988;
}

::-webkit-scrollbar {
    width: 10px;

    cursor: auto;

    &-track {
        background: none;
    }

    &-thumb {
        background: #c6c6c6aa;
        border-radius: 5px;
    }
}

.note {
    overflow-x: hidden;
    overflow-y: scroll;

    width: calc(100vw - $padding * 2);
    height: calc(100vh - $padding * 2);

    font-family: "Indie Flower", serif;
    font-weight: bold;
    font-size: 1.5rem;

    &:focus {
        outline: none;
    }

    scrollbar-width: thin;
    scrollbar-color: #c6c6c6aa #e5e988;
}
