@use "@/styles/colors" as colors;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  color: white;
  background-color: colors.$gray-3;
}

* {
  box-sizing: border-box;
}

button,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

img,
svg {
  vertical-align: middle;
}
