@use "sass:math" as math;

@use "../abstracts/colors" as c;
@use "../abstracts/mixins" as m;

$modal-height: 600px;
$main-border-radius: 16px;

$col-width: 340px;
$num-of-icon-in-row: 6;
$icon-margin: 6px;
$preview-size: 280px;
$preview-icon-size: $preview-size - 96px;

$cell-width: math.div(($col-width - (($num-of-icon-in-row - 1) * $icon-margin)), $num-of-icon-in-row);

$link-cell-icon-slugs: "facebook", "twitch", "youtube", "reddit", "googlekeep", "spotify";

$link-cell-icon-colors: #1877f2, #9146ff, #ff0000, #ff4500, #ffbb00, #1db954;

@keyframes color-animation {
    @for $i from 0 through length($link-cell-icon-colors) - 1 {
        $color: nth($link-cell-icon-colors, $i + 1);

        #{$i * math.div(100%, length($link-cell-icon-colors))} {
            background-color: #{$color};
        }
    }
}

@keyframes icon-animation {
    @for $i from 0 through length($link-cell-icon-slugs) - 1 {
        $slug: nth($link-cell-icon-slugs, $i + 1);

        #{$i * math.div(100%, length($link-cell-icon-slugs))} {
            background: url("https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/#{$slug}.svg");
        }
    }
}

#add-modal__link-cell .add-modal__menu__item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: nth($link-cell-icon-colors, 1);
    animation: color-animation infinite linear (length($link-cell-icon-colors) * 2s);

    animation-play-state: paused;

    div {
        width: 60%;
        height: 60%;
        background: url("https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/#{nth($link-cell-icon-slugs, 1)}.svg");
        filter: invert(1);
        animation: icon-animation infinite linear (length($link-cell-icon-slugs) * 2s);
        animation-play-state: inherit;
    }
}

#add-modal__link-cell.active .add-modal__menu__item__icon {
    animation-play-state: running;
}

#add-modal__dynamic-cell .add-modal__menu__item__icon {
    padding: 8px;
    background-color: #323232;
    color: c.$light-grey;
    animation-play-state: paused;

    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }

    .svg-wrapper {
        animation-play-state: inherit;
        float: left;
        padding-right: 8px;
    }

    svg {
        fill: currentColor;
        animation: spin 12s linear infinite;
        animation-play-state: inherit;
    }

    .number {
        font-size: 32px;
        animation-play-state: inherit;

        @keyframes numbers {
            $start: 10;
            $end: 30;

            @for $i from 0 to $end - $start {
                #{$i * math.div(100%, ($end - $start - 1))} {
                    counter-increment: count #{$i + $start};
                }
            }
        }

        &::before {
            content: counter(count);
            animation: numbers 10s infinite alternate;
            animation-play-state: inherit;
        }

        &::after {
            content: "°";
        }
    }

    .small-straps {
        padding-top: 12px;
        padding-bottom: 2px;
        height: 32px;
    }

    .small-strap {
        float: left;
        height: 2px;
        background-color: c.$light-grey;
        margin: 3px;

        &:nth-child(1) {
            width: 100px;
        }

        &:nth-child(2) {
            width: 20px;
        }

        &:nth-child(3) {
            width: 60px;
        }

        &:nth-child(4) {
            width: 40px;
        }
    }

    @keyframes strap-width {
        from {
            width: 100%;
        }

        to {
            width: 30%;
        }
    }

    .strap {
        height: 6px;
        width: 100%;
        border-radius: 100vh;
        margin: 8px 0;
        animation: strap-width 1s ease-in-out infinite alternate;
        animation-play-state: inherit;

        &.first {
            background-color: #5b7ca7;
        }

        &.second {
            background-color: #9e4d4d;
            animation-delay: 0.7s;
        }
    }
}

#add-modal__dynamic-cell.active .add-modal__menu__item__icon {
    animation-play-state: running;
}

.add-modal {
    @include m.flexCenter();

    display: none;
    position: fixed;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: rgba(c.$bg-color, 50%);

    &.active {
        display: flex;
    }

    &__content {
        display: flex;
        overflow: hidden;
        position: relative;

        background-color: lighten(c.$bg-color, 10%);
        border-radius: $main-border-radius;
        color: white;
    }

    &__menu {
        display: flex;
        flex-direction: column;

        height: $modal-height;

        &__item {
            @include m.flexCenter();

            width: 200px;
            flex-grow: 1;

            border-top-left-radius: $main-border-radius;
            border-bottom-left-radius: $main-border-radius;
            cursor: pointer;

            * {
                display: block;
            }

            &__icon {
                width: 128px;
                height: 128px;
                border-radius: 8px;
                overflow: hidden;
            }

            span {
                font-weight: bold;
                margin-top: 6px;
            }
        }

        &__item.active {
            background-color: c.$light-grey;
        }
    }

    &__tabs {
        float: left;

        background-color: c.$light-grey;
    }

    &__tab {
        display: none;

        &.active {
            display: block;
        }
    }

    &__column {
        float: left;

        width: 404px;
        height: $modal-height;
        padding: 0 32px;

        background-color: c.$light-grey;

        &--scroll {
            overflow-x: hidden;
            overflow-y: scroll;
        }
    }

    ::placeholder {
        color: #d4d4d4;
    }

    &__input {
        width: 100%;

        border-bottom: 1px white solid;
        margin-bottom: 8px;
        font-size: 1.2rem;
        color: white;

        &:focus {
            outline: none;
        }
    }

    &__loading {
        display: none;
        width: fit-content;
        margin: 12px auto;

        &.active {
            display: block;
        }
    }

    &__icons-header {
        display: none;

        &.active {
            display: block;
        }

        img {
            width: 16px;
            height: 16px;
            filter: invert(1);
        }
    }

    &__icons {
        width: $col-width;
        display: flex;
        flex-wrap: wrap;
        gap: $icon-margin;

        .icon-wrapper {
            width: $cell-width;
            height: $cell-width;
            border-radius: 4px;
            overflow: hidden;

            &:hover {
                cursor: pointer;
            }

            img {
                padding: 4px;

                width: 100%;
                height: 100%;

                &.white {
                    filter: invert(1);
                }
            }

            &--no-padding img {
                padding: 0;
            }
        }
    }

    &__no-icons {
        display: none;

        &.active {
            display: block;
        }

        width: $col-width;
        margin: 24px 0;
        text-align: center;
        color: #d4d4d4;
    }

    #add-modal__color-picker {
        margin-bottom: 8px;
    }

    &__suggested-color-wrapper {
        display: flex;
        align-items: center;
    }

    #add-modal__suggested-color {
        width: 1.7rem;
        height: 1.7rem;
        margin-left: 8px;

        border-radius: 50%;
        cursor: pointer;
    }

    &__link-validator {
        padding-bottom: 0.8rem;

        color: c.$red;
        opacity: 0;
        font-size: 0.8rem;
        font-weight: bold;

        &.active {
            opacity: 1;
        }
    }

    &__preview {
        @include m.flexCenter();
        overflow: hidden;

        width: $preview-size;
        height: $preview-size;

        background-color: c.$cell-color;
        border-radius: 16px;

        img {
            max-width: $preview-icon-size;
            max-height: $preview-icon-size;
        }

        img.white {
            filter: invert(1);
        }

        &--no-padding {
            padding: 0;
        }

        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    }

    &__finish {
        width: $preview-size;
        height: 2em;
        margin-top: 16px;
        margin-bottom: 8px;

        border-radius: 100vh;
        background-color: c.$blue;
        color: white;
        font-size: 1.7rem;
        cursor: pointer;

        &:hover {
            background-color: darken(c.$blue, 10%);
        }
    }

    &__close {
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;

        svg {
            fill: white;
        }
    }
}
