<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/dynamic-cells/calculator/main.css">
</head>

<body class="calc">
    <div class="calc__input-wrapper">
        <input class="calc__input" type="text" placeholder="Expression...">
        <svg class="calc__clear" xmlns="http://www.w3.org/2000/svg" height="24" width="24">
            <path d="M6.4 19 5 17.6l5.6-5.6L5 6.4 6.4 5l5.6 5.6L17.6 5 19 6.4 13.4 12l5.6 5.6-1.4 1.4-5.6-5.6Z" />
        </svg>
    </div>
    <div class="calc__result"></div>
    <div class="calc__operators">
        <button class="calc__ce">CE</button>
        <button class="calc__root">√</button>
        <button class="calc__pi">π</button>
        <button class="calc__pow">x<sup>y</sup></button>
    </div>
</body>

</html>
