@use "../abstracts/colors" as c;

.rmenu {
    position: absolute;
    display: block;
    flex-direction: column;

    padding: 4px;

    background-color: #1f1f1f;
    border-radius: 3px;

    &__btn {
        display: block;

        width: 100px;
        padding: 4px;
        margin-bottom: 4px;

        color: white;
        font-size: 1.2rem;
        text-align: left;
        border-radius: 2px;
        cursor: pointer;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            background-color: c.$light-grey;
        }
    }

    &__delete {
        color: c.$red;

        &:hover {
            color: white;
            background-color: c.$red;
        }
    }
}
