@use "../colors" as c;
@use "../utils" as u;

#add-cell-modal {
    @include u.flexCenter();
    display: none;

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(c.$bg-color, 50%);

    &.active {
        display: flex;
    }
}

$content-width: 320px;
$num-of-icon-in-row: 7;

.modal-content {
    width: $content-width;
    padding: 32px;

    background-color: white;
    border-radius: 1rem;

    h1 {
        margin-top: 0;
    }

    input {
        border: none;
        border-bottom: 1px c.$light-grey solid;
        margin-bottom: 8px;
        font-size: 1.2rem;

        width: 100%;

        &:focus {
            outline: none;
        }
    }

    .icons {
        width: $content-width;
        display: flex;
        flex-wrap: wrap;

        img {
            width: 100% / $num-of-icon-in-row;
            height: $content-width / $num-of-icon-in-row;
        }
    }

    .choose-color {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        gap: 10px;

        .color {
            width: 64px;
            height: 2rem;
            border-radius: 100vh;
            overflow: hidden;
        }
    }

    .choose-color>#suggested-color {
        background-color: currentColor;

        display: inline-block;
    }

    #color-picker {
        -webkit-appearance: none;
        border: none;
        padding: 0;
        margin: 0;
    }

    #color-picker::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    #color-picker::-webkit-color-swatch {
        border: none;
    }

    .cell-link-validator {
        color: white;

        font-size: .8rem;
        font-weight: bold;

        &.active {
            color: c.$red;
        }
    }
}
