@use "sass:math" as math;

@use "../abstracts/colors" as c;
@use "../abstracts/mixins" as m;

$modal-height: 600px;
$main-border-radius: 16px;

$col-width: 340px;
$num-of-icon-in-row: 6;
$icon-margin: 6px;
$preview-size: 280px;
$preview-icon-size: $preview-size - 96px;

$cell-width: math.div(($col-width - (($num-of-icon-in-row - 1) * $icon-margin)), $num-of-icon-in-row );

.add-modal {
    @include m.flexCenter();

    display: none;
    position: fixed;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: rgba(c.$bg-color, 50%);

    &.active {
        display: flex;
    }

    &__content {
        display: flex;
        overflow: hidden;

        background-color: lighten(c.$bg-color, 10%);
        border-radius: $main-border-radius;
        color: white;
    }

    &__menu {
        display: flex;
        flex-direction: column;

        height: $modal-height;


        &__item {
            @include m.flexCenter();

            width: 200px;
            flex-grow: 1;

            border-top-left-radius: $main-border-radius;
            border-bottom-left-radius: $main-border-radius;
            cursor: pointer;

            * {
                display: block;
            }

            img {
                width: 8rem;
                height: 8rem;
            }

            span {
                margin-top: 6px;
            }
        }

        &__item.active {
            background-color: c.$light-grey;
        }
    }

    &__tabs {
        float: left;

        background-color: c.$light-grey;
    }

    &__tab {
        display: none;

        &.active {
            display: block;
        }
    }

    &__column {
        float: left;

        width: 340px;
        height: $modal-height;
        padding: 0 32px;

        background-color: c.$light-grey;

        &--scroll {
            overflow-x: hidden;
            overflow-y: scroll;
        }
    }

    ::placeholder {
        color: #d4d4d4;
    }

    input {
        border: none;
        background: none;
        padding: 0;

        border-bottom: 1px white solid;
        margin-bottom: 8px;
        font-size: 1.2rem;
        color: white;

        width: 100%;

        &:focus {
            outline: none;
        }
    }

    &__icons {
        width: $col-width;
        display: flex;
        flex-wrap: wrap;
        gap: $icon-margin;

        .icon-wrapper {
            width: $cell-width;
            height: $cell-width;
            border-radius: 4px;
            overflow: hidden;

            &:hover {
                cursor: pointer;
            }

            img {
                box-sizing: border-box;
                padding: 4px;

                width: 100%;
                height: 100%;

                &.white {
                    filter: invert(1);
                }
            }

            &--no-padding img {
                padding: 0;
            }
        }
    }

    #add-modal__color-picker {
        margin-bottom: 8px;
    }

    &__suggested-color-wrapper {
        display: flex;
        align-items: center;
    }

    #add-modal__suggested-color {
        width: 1.7rem;
        height: 1.7rem;
        margin-left: 8px;

        border-radius: 50%;
        cursor: pointer;
    }

    &__link-validator {
        padding-bottom: .8rem;

        color: c.$red;
        opacity: 0;
        font-size: .8rem;
        font-weight: bold;

        &.active {
            opacity: 1;
        }
    }

    &__preview {
        @include m.flexCenter();
        overflow: hidden;

        width: $preview-size;
        height: $preview-size;

        background-color: c.$cell-color;
        border-radius: 16px;

        img {
            max-width: $preview-icon-size;
            max-height: $preview-icon-size;
        }

        img.white {
            filter: invert(1);
        }

        &--no-padding {
            padding: 0;
        }

        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    }

    &__finish {
        width: $preview-size;
        height: 2em;
        margin-top: 16px;
        margin-bottom: 8px;

        border: none;
        border-radius: 100vh;
        background-color: c.$blue;
        color: white;
        font-size: 1.7rem;

        &:hover {
            cursor: pointer;
            background-color: darken(c.$blue, 10%);
        }
    }
}
