@use "../colors" as c;
@use "../utils" as u;

$grid-margin: 5px;
$edit-el-size: 2.7rem;
$num-of-els: 3;

.grid__edit-panel {
    position: absolute;
    background-color: c.$light-grey;
    color: white;

    width: $edit-el-size;
    max-height: $edit-el-size * $num-of-els;

    top: $grid-margin;
    right: -$grid-margin;
    transform: translateX(100%);

    border-radius: 100vw;

    button#{&}__item {
        cursor: pointer;
    }

    &__item {
        @include u.flexCenter();

        border: none;
        display: none;

        width: $edit-el-size;
        height: $edit-el-size;

        border-radius: 50%;

        margin-top: .3rem;

        img {
            filter: invert(1);
            width: 70%;
        }
    }

    &__item:first-child {
        margin: 0;
    }

    .edit-icon {
        display: block;
    }

    .save-icon {
        display: none;
    }

    &.active &__item {
        display: flex;

        .edit-icon {
            display: none;
        }

        .save-icon {
            display: block;
        }
    }
}

#grid__edit {
    background-color: c.$cell-color;
    display: flex;
}

#grid__add {
    background-color: c.$green;
}

#grid__trash {
    background-color: c.$red;

    transition: 200ms linear;
    transition-property: width, height;
    border-top-left-radius: calc($edit-el-size / 2);
}

#grid__trash.active {
    width: $edit-el-size * 3;
    height: $edit-el-size * 3;
}
