@use "../abstracts/colors" as c;
@use "../abstracts/mixins" as m;
@use "../abstracts/constants" as const;

.grid-stack-item-content {
    background-color: c.$cell-color;
    border-radius: const.$cell-border-radius;
    overflow: hidden !important;

    &:hover {
        filter: opacity(70%);
        transform: scale(1.03);
        cursor: pointer;
    }

    &__link {
        @include m.flexCenter();

        width: 100%;
        height: 100%;
    }

    &__icon {
        width: 5rem;
        height: 5rem;

        &.white {
            filter: invert(1);
        }
    }
}
