@use "../abstracts/colors" as c;

$loading-items: 5;

@keyframes loading {
    25% {
        transform: scaleY(2);
    }

    50% {
        transform: scaleY(1);
    }
}

.loading {
    --w: 10px;
    --h: 30px;
    --g: 5px;

    &--small {
        --w: 4px;
        --h: 15px;
        --g: 3px;
    }

    &--medium {
        --w: 6px;
        --h: 20px;
        --g: 4px;
    }

    display: flex;
    gap: var(--g);

    &__item {
        width: var(--w);
        height: var(--h);

        background-color: c.$blue;
        animation: loading 1000ms ease-in-out infinite;
    }

    @for $i from 1 through $loading-items {
        &__item:nth-child(#{$i}) {
            animation-delay: 100ms * ($i - 1);
        }
    }
}
