<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="/static/dynamic-cells/weather/main.css">
    <script defer src="/static/dynamic-cells/weather/index.js"></script>
</head>

<body>
    <header class="location">
        <span class="location__city">City</span>
        <div class="location__search-wrapper">
            <input class="location__search-input" type="text">
            <div class="location__suggestions">
            </div>
        </div>
        <img class="location__search" src="/static/assets/dynamic-cells/travel-explore.svg" alt="search for location">
        (<span class="location__day">Currently</span>):
        <div class="location__line"></div>
    </header>
    <main class="weather">
        <div class="weather__icon">
            <img
                src="https://raw.githubusercontent.com/basmilius/weather-icons/dev/production/fill/svg/partly-cloudy-day.svg">
        </div>
        <div class="weather__temps">
            <div class="weather__temp"><span class="data">--</span><span class="degrees">°C</span></div>
            <div class="weather__min-max">
                <div class="weather__min">⇓<span class="data">--</span><span class="degrees">°C</span></div>
                <div class="weather__max">⇑<span class="data">--</span><span class="degrees">°C</span></div>
            </div>
        </div>
        <div style="flex-grow: 1;"></div>
        <% if (big) { %>
            <div class="weather__additional-stats">
                <div class="weather__rain">Rain: <span class="data">--</span>mm</div>
                <div class="weather__humidity">Humidity: <span class="data">--</span>%</div>
                <div class="weather__wind">Wind Speed: <span class="data">--</span>km/h</div>
                <div class="weather__pressure">Pressure: <span class="data">--</span>hPa</div>
            </div>
            <% } %>
    </main>
    <nav class="days">
        <div class="days__day active">
            <img
                src="https://raw.githubusercontent.com/basmilius/weather-icons/dev/production/fill/svg/partly-cloudy-day.svg">
            <div class="days__day__name">Today</div>
        </div>
        <div class="days__day">
            <img
                src="https://raw.githubusercontent.com/basmilius/weather-icons/dev/production/fill/svg/partly-cloudy-day.svg">
            <div class="days__day__name">-</div>
        </div>
        <div class="days__day">
            <img
                src="https://raw.githubusercontent.com/basmilius/weather-icons/dev/production/fill/svg/partly-cloudy-day.svg">
            <div class="days__day__name">-</div>
        </div>
        <div class="days__day">
            <img
                src="https://raw.githubusercontent.com/basmilius/weather-icons/dev/production/fill/svg/partly-cloudy-day.svg">
            <div class="days__day__name">-</div>
        </div>
        <div class="days__day">
            <img
                src="https://raw.githubusercontent.com/basmilius/weather-icons/dev/production/fill/svg/partly-cloudy-day.svg">
            <div class="days__day__name">-</div>
        </div>
        <div class="days__day">
            <img
                src="https://raw.githubusercontent.com/basmilius/weather-icons/dev/production/fill/svg/partly-cloudy-day.svg">
            <div class="days__day__name">-</div>
        </div>
        <% if (big) { %>
            <div class="days__day">
                <img
                    src="https://raw.githubusercontent.com/basmilius/weather-icons/dev/production/fill/svg/partly-cloudy-day.svg">
                <div class="days__day__name">-</div>
            </div>
            <div class="days__day">
                <img
                    src="https://raw.githubusercontent.com/basmilius/weather-icons/dev/production/fill/svg/partly-cloudy-day.svg">
                <div class="days__day__name">-</div>
            </div>
            <% } %>
    </nav>
</body>

</html>
