@use "sass:math" as math;
@use "@/styles/colors" as colors;

$mobile-threshold: 50rem;

$section-height: calc(100vh - 85px);

@mixin section {
    min-height: $section-height;

    h1,
    p {
        margin: 0;
    }

    a {
        text-decoration: none;
        color: white;
    }
}

.landing {
    @include section;

    display: block;
    position: relative;

    @media (max-width: $mobile-threshold) {
        display: none;
    }

    &__imageWrapper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
        height: $section-height;
        width: 100%;
    }

    &__image {
        width: 70%;
        height: 80%;
        object-fit: contain;
    }

    &__brief {
        width: 100%;
        height: $section-height;
    }

    $brief-bg: rgba(colors.$gray-0, 80%);

    &__briefContentWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        float: left;
        background-color: $brief-bg;
        width: 40%;
        height: 100%;
    }

    &__briefHeading {
        font-size: 4rem;
        font-family: monospace;

        @media (max-width: 30rem) {
            font-size: 3rem;
        }
    }

    &__briefSubheading {
        font-size: 1.6rem;
        white-space: nowrap;

        @media (max-width: 30rem) {
            font-size: 1.2rem;
        }
    }

    $synonyms: "homepage", "dashboard", "control panel";
    $time-for-one-synonym: 2s;

    @keyframes synonyms-animation {
        $step: math.div(100%, length($synonyms));

        @for $i from 0 to length($synonyms) {
            #{$i * $step} {
                content: nth($synonyms, $i + 1);
            }
        }
    }

    &__briefSynonyms {
        position: relative;
        color: transparent;
        font-weight: bold;
    }

    &__briefSynonyms::after {
        position: absolute;
        top: 0;
        left: 0;
        width: max-content;

        content: nth($synonyms, 1);
        $bg-color: transparent;
        // padding: 0 4px;

        color: colors.$primary;
        background-color: $bg-color;
        font-weight: bold;
        border-radius: 2px;
        box-shadow: 0 0 0 2px $bg-color;

        animation: synonyms-animation length($synonyms) * $time-for-one-synonym infinite linear;
    }

    &__briefLoginA {
        margin-top: 8px;
        display: inline-block;
        width: fit-content;
    }

    &__briefLogin {
        font-size: 1.2rem;
        padding: 12px;

        @media (max-width: 30rem) {
            font-size: 1rem;
            padding: 8px;
        }
    }

    &__briefTriangle {
        float: left;
        width: 0;
        height: 0;
        border-bottom: calc(100vh - 85px) solid $brief-bg; // height
        border-right: 200px solid transparent; // width
    }
}

.landingMobile {
    @include section;

    display: none;
    position: relative;

    @media (max-width: $mobile-threshold) {
        display: block;
    }

    &__imgWrapper {
        z-index: -1;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: colors.$gray-0;
        height: 100%;
        width: 100%;
    }

    &__img {
        height: 70%;
        width: 70%;
        object-fit: contain;
    }

    &__briefWrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 60px 0;
        background-color: colors.$gray-3;
    }

    &__wave {
        width: 100%;
        transform: translateY(-2px);
    }
}

.advantages {
    @include section;

    background-color: colors.$gray-0;

    a {
        color: colors.$primary;
    }

    &__advantage {
        width: 60vw;
        padding: 120px 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $mobile-threshold) {
            flex-direction: column-reverse;
            padding: 30px 0;

            &:nth-child(2) {
                flex-direction: column;
            }
        }
    }

    &__img {
        height: 370px;
        width: 370px;

        @media (max-width: $mobile-threshold) {
            height: 80vw;
            width: 80vw;
        }
    }

    &__text {
        height: fit-content;
        max-width: 45%;
        font-size: 1.7rem;

        @media (max-width: $mobile-threshold) {
            margin: 30px 0;
            text-align: center;
            max-width: 90vw;
        }
    }

    &__h1 {
        font-size: 2.5rem;
    }
}
